@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
}

@media (max-width: 1200px) {
  * {
    font-size: 8px;
  }
}

@media (max-width: 800px) {
  * {
    font-size: 7px;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  transition: .7s ease-in-out;
}

.box:hover {
  flex-grow: 8;
}

@media (max-width: 700px) {
  .box:hover {
    flex-grow: 1;
  }
}

.box:nth-child(1) {
  background-image: url(/img/plantatree.jpg);
  background-position: center;
  background-size: cover;
}

.box:nth-child(2) {
  background-image: url(/img/grandma.jpg);
  background-position: center;
  background-size: cover;
}
.box:nth-child(3) {
  background-image: url(/img/grid.jpg);
  background-position: center;
  background-size: cover;
}
.box:nth-child(4) {
  background-image: url(/img/super.jpg);
  background-position: center;
  background-size: cover;
}

p {
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px #000;
}