@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  height: 100vh;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid:nth-child(1) {
  background-color: #c70000;
}
.grid:nth-child(2) {
  background-color: #fa6a6a;
}
.grid:nth-child(3) {
  background-color: #7a2727;
}
.grid:nth-child(4) {
  background-color: #6ac5fa;
}
.grid:nth-child(5) {
  background-color: #197cb6;
}
.grid:nth-child(6) {
  background-color: #01446b;
}
.grid:nth-child(7) {
  background-color: #6afaca;
}
.grid:nth-child(8) {
  background-color: #2da37c;
}
.grid:nth-child(9) {
  background-color: #008f5f;
}

p {
  text-transform: uppercase;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}