h2
{
    color: blue;
    width: 100%;
    border-bottom: 8px double blue;
    text-align: center;
    margin: 10px;
}

button
{
    height: 40px;
    width: 100px;
    font-size: 18px;
    border-radius: 5px;
    border-color: lightblue;
    background-color: blue;
    color: white;
    margin-bottom: 10px;
}

.trx-color
{
    color: red;
    font-size: 14px;
}

p
{
    width: auto;
    border: 5px solid blue;
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    padding: 9px;
    margin: 5px;
}

.value-style
{
    text-align: center;
    font-weight: 700;
}
