/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');

/* BASIC RULES */
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

::selection {
  color: #ffffff;
  background-color: #ac000e;
}

body {
  height: 100vh;
}

main {
  height: 100vh;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg,  #D90416, #F2EFBD);
  position: relative;
}

/* FORM DESIGN */
form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  background: #F2F2F2;
  padding: 4rem 5rem;
  box-shadow: -6px 6px 5px #05050586;
}

option {
  background-color: #ac000e;
  width: 20px;
  color: #ffffff;
  padding: 90p;
}

input[type="text"] {
  margin-bottom: 20px;
}

form input {
  background: #F2F2F2;
  font-size: 2rem;
  border: none;
  border: 5px solid transparent;
  border-bottom: 5px solid #b90110;
  text-align: center;
  padding: 4px 0;
  transition: .5s ease-in-out;
}

form input:hover {
  border: 5px solid #f8707b;
} 

form input:focus {
  border: 5px solid #f8707b;
  animation: blink 1.2s ease-in-out infinite;
}

@keyframes blink {
  0% {border: 5px solid transparent;}
  40% {border: 5px solid #f8707b;}
  60% {border: 5px solid #f8707b;}
  100% {border: 5px solid transparent;}
}

form label {
  font-size: 2.7rem;
  text-align: center;
  font-weight: 700;
}

form select {
  padding: 5px;
  background: #7c000a;
  color: #ffffff;
  text-align: center;
  border: 4px solid #D90416;
  text-indent: 1px;
  cursor: pointer;
  transition: .4s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
}

form select:hover {
  background-color: #F2F2F2;
  color: #7c000a;
}

form select, form option {
  font-size: 2rem;
}

/* CHARACTER SHEET DESIGN */
section {
  width: 390px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: #F2F2F2;
  padding: 3rem 1rem 4rem 1rem;
  box-shadow: -6px 6px 5px #05050586;
}

section .cards {
  display: flex;
  flex-direction: column;
  gap: 13px;
  background: #ffffff;
  width: 50%;
  margin: auto;
  padding: 15px;
  border: 5px solid #ac000e;
  box-shadow: -3px 3px 2px #000000a1;
}

section #name-result {
  color: #d6950a;
  text-transform: uppercase;
  font-size: 2.4rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

section h2 {
  font-size: 2.7rem;
  font-weight: 700;
}

section p {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #da9b14;
}

section i {
  font-size: 6rem;
}

section img {
  margin: auto;
  height: 60px;
}