// IMPORTED FILES
@use 'basic'
@use 'functions'
// IMPORTED FILES

// BASIC SETUP
*
  @extend %basic-rules

html
  scroll-behavior: smooth

html, body
  height: 100%

p
  font-size: 4rem

a
  color: basic.$font-color

a:hover  
  transition: .5s ease-in-out
  color: #6fff2d

::placeholder
  color: basic.$font-color

.header-container
  width: 80%
  height: 100%
  background-image: url('../img/bg4.jpg')
  background-size: cover
  background-position: 50% -75px
  color: basic.$font-color
  margin: auto
  +functions.grid-function(repeat(2, 1fr), min-content 1.9fr 1fr min-content, "logo link" "give give" "card card" "support support")
// BASIC SETUP

// LOGO AND LINKS
.logo
  grid-area: logo
  padding: 15px 15px 15px 40px
  display: flex
  // width: 295px
  img
    height: 60px
    vertical-align: middle
    align-items: center
  .logo_big 
    font-size: 5.3rem
  .logo_small 
    display: inline-block
    font-size: 2rem
  &:hover
    color: #6fff2d


.link
  grid-area: link
  padding-right: 40px
  +functions.flex-function(row, flex-end, center)
  gap: 20px
  a
    font-size: 5rem

// LOGO AND LINKS

// GIVE GRID SYSTEM
.give
  grid-area: give
  +functions.grid-function(repeat(3, 1fr), 1fr, "donate space percent ")
  // THE 1% TEXT
  .percent
    grid-area: percent
    text-align: center
    gap: 15px
    +functions.flex-function(column, center, center)
    h2
      font-family: 'Yesteryear', cursive
      line-height: .8
      // font-family: basic.$main-font
      font-size: 12rem
      color: #6fff2d
    p
      font-size: 2.4rem
  // ACCOUNT DETAILS

  // DONATE ICONS
  .donate
    grid-area: donate
    +functions.flex-function(column, center, center)
    gap: 20px
    button
      font-size: 3rem
      padding: 5px 15px
      border: 2px solid #3bbb00
      border-radius: 15px
      background: linear-gradient(#faf6f1, #6fff2d)
      color: #fff
      text-shadow: 1px 1px 2px #000
      &:hover
        background: linear-gradient(#ffffff, #fff7ea)
    div
      background-color: #ffffff57
      padding: 10px
      border: 3px solid white
      @extend %flex-center
      gap: 20px
      img
        height: 30px
      #paypal
        height: 20px
    img
      height: 50px
  // DONATE ICONS
// GIVE GRID SYSTEM

// DOG IMAGE
.dog
  grid-area: dog
  @extend %flex-center
  img
    height: 240px
// DOG IMAGE

// CARDS
.card
  margin: 0 50px
  grid-area: card
  display: flex
  gap: 50px
  a
    background-color: #fff
    // border: 3px solid white
    flex-grow: 1
    width: 33.333%
    +functions.flex-function(row, center, flex-end)
    p
      font-size: 3rem
      text-align: center
      color: basic.$font-color
      background-color: #0000007c
      padding: 5px
      width: 100%
  a:nth-of-type(1)
    background-image: url('../img/news1.jpg')
    background-size: cover
    background-position: center
    &:hover
      filter: grayscale(100%) contrast(130%)
  a:nth-of-type(2)
    background-image: url('../img/news2.png')
    background-size: cover
    background-position: center
    &:hover
      filter: grayscale(100%) contrast(130%)
  a:nth-of-type(3)
    background-image: url('../img/donate.png')
    background-size: cover
    background-position: center
    &:hover
      filter: grayscale(100%) contrast(130%)
// CARDS

// SUPPORT
.support
  background-color: #ffffff56
  grid-area: support
  @extend %flex-center
  padding: 20px
  margin-top: 30px
  gap: 30px
  p
    font-size: 2rem
    color: #fff
  img
    height: 30px
  img:nth-of-type(4)
    height: 35px
    position: relative
    bottom: 3px
// SUPPORT

// MAIN SECTION
.main-container
  text-align: center
  padding: 70px 0
  +functions.flex-function(column, center, center)
  div
    width: 65%
    h2
      font-size: 6rem
      text-align: center
    p
      font-size: 3rem
      text-align: center
      padding: 20px 60px

// CONTACT SECTION
.contact-container
  background-color: #808080
  margin: auto
  +functions.flex-function(column, center, center)
  gap: 30px
  form
    background-color: #808080
    padding: 50px
    text-align: center
    h2
      font-size: 4rem
      color: basic.$font-color
      padding-bottom: 30px
    p
      padding-bottom: 20px
      input
        color: basic.$font-color
        background-color: #808080
        outline: none
        border: none
        border-bottom: 3px solid #fff
        font-size: 3rem
        width: 300px
        padding-left: 3px
      button
        margin-top: 20px
        border: 2px solid #808080
        padding: 6px 15px
        font-size: 3rem
        background-color: #ffffff
        transition: background-color .6s ease, color .6s ease, border .6s ease
      button:hover
        border: 2px solid #fff
        background-color: #303030
        color: #fff

// CONTACT SECTION

// RESPONSIVE WEBSITE
@media (max-width: 1500px)
  *
    font-size: 8px
  .header-container
    width: 100%

@media (max-width: 1050px)
  // BASIC
  *
    font-size: 10px
  html, body
    height: auto
  
  // HEADER
  .header-container
    height: auto
    +functions.grid-function(1fr, min-content 1fr auto min-content, "logo" "give" "card" "support")
  
  // LOGO AND LINKS
  .logo
    justify-content: center
  .link
    display: none

  // GIVE SECTION
  .give
    gap: 30px
    margin-top: 50px
    +functions.grid-function(1fr, 1fr min-content, "percent" "donate")
    .donate
      div
        display: none
      img
        display: none
  
  // CARD SECTION
  .card
    flex-direction: column
    margin: 30px 15%
    gap: 30px
    a
      width: auto
      height: 300px
      flex-grow: 1

  // SUPPORT
  .support
    display: none

  // MAIN SECTION
  .main-container
    div
      width: 95%

@media (max-width: 700px)
  .card
    margin: 30px 7%
// RESPONSIVE WEBSITE